/*Author: Lasse Hoffmann */
body {
    background-color: #faf1e4;
}

* {
    font-family: "PT Mono", serif;
}

p {
    font-size: 12px;
    text-align: right;
}

th {
    background-color: lightgray;
}

/*Author: Lasse Hoffmann*/