includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
	level: 8
	reportUnmatchedIgnoredErrors: false
	ignoreErrors:
	    - message: "#on an unknown class Vestis\\\\Database\\\\Repositories\\\\GCR#"
	excludePaths:
	    analyse:
	        - %currentWorkingDirectory%/vendor
	paths:
		- controller
		- components
		- database
		- exception
		- public
		- service
		- views
