includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
	level: 9
	reportUnmatchedIgnoredErrors: false
	excludePaths:
	    analyse:
	        - %currentWorkingDirectory%/vendor
	paths:
		- controller
		- components
		- database
		- exception
		- public
		- service
		- views
