# This rewrites all requests that do not reference a file in the public/ folder
# to the router.php file in the public/ directory. This is required in order
# to initialize things like database connections for all pages.
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ %{ENV:BASE}/router.php [L]
</IfModule>

# Disables caching for asset files like .css and .js files.
# This is required to always have the latest version of the file in the browser during development
<FilesMatch "\.(css|js)$">
    FileETag None
    <IfModule mod_headers.c>
        Header set Cache-Control "no-cache, no-store, must-revalidate"
        Header set Pragma "no-cache"
        Header set Expires 0
    </IfModule>
</FilesMatch>
