/*Author: Lasse Hoffmann, Mathis Burger, Lennart Moog */

/** Variable definitions */
:root {
    --primary-background-color: #fff9e9;
    --footer-background-color: #e5dacb;
    --header-background-color: #fbf3e7;
    --card-background-color: #fbf4e2;
    --text-color: black;
    --button-hover-color: #656565;
    --accent-color: #b35c7d;
    --danger-color: darkred;
    --success-color: #73956f;
    --form-box-shadow-color: rgba(0, 0, 0, 0.62);
    --z-index-popover: 1000;
    --header-height: 100px;
    --footer-height: 50px;
    --button-font-size: 14px;
}

/* Generelle Styles */

/* Weitere Überschrifen können hier mit ,-Separierung ergänzt werden */
h1 {
    text-align: center;
}

* {
    font-family: "PT Mono", serif;
}

p {
    font-size: 12px;
    text-align: justify; /*Es gibt entweder nur Blocksatz oder text-align: right, beides geht nicht!*/
}

/* genutzt für Texte, die größere Buchstaben benötigen (e.g. Impressum.html */
p.large-text {
    font-size: 16px;
    text-align: justify;
}

p.text-align-left {
    align-self: flex-start; /* Überschreibt das align-items in der Flexbox (für das form in diesem Fall) */
}

/*zentriert und setzt Hintergrundfarbe*/
body {
    background-color: var(--primary-background-color);
    display: flex; /*Elemente ordnen sich flexibel an (Flexcontainer) */
    flex-direction: column;
    align-items: center;
    margin: 0;
    min-height: 100vh;
}
/*Zelle im Tabellenkopf*/
th {
    background-color: lightgray;
}

h2 small {
    font-size: .6em;
}

/** Header */

header {
    position: fixed; /*Header immer an fixer Stelle auf Bildschirm - auch bei Scrollen*/
    top: 0; /*Abstand nach oben = 0*/
    background-color: var(--header-background-color);
    display: grid;
    width: 100%;
    place-items: center;
    grid-template-columns: 1fr var(--header-height) 1fr; /*flexible Einheit, die sich an vorhandener Menge der 1fr bemisst minus anderer Elemente*/
    height: var(--header-height);
    box-shadow: 0 1px 0 var(--text-color); /*vertikaler Schatten Größe 1 Pixel*/
    z-index: 500; /*wichtig, damit Header immer über Elementen von main angezeigt wird*/
}

/*Höhe Bild im Header (Logo)*/
header img {
    height: var(--header-height);
}

/*ordnet die UL im Header in einer Reihe an - Accesoires und Kleidung werden nebeneinander statt untereinander als Bullets angezeigt*/
header nav ul {
    display: flex;
    gap: 20px;
    list-style: none; /*keine Bulletpoints*/
    position: relative; /*Pos. relativ zu anderen Objekten*/
}

/*Kleidung und Accesoire*/
header nav ul li {
    position: relative;
    padding: 5px;
}

/*einzelne Drop-Downs*/
header nav ul li ul {
    display: none; /*standardmäßig nicht angezeigt*/
    position: absolute; /*Position frei wählbar abhängig von übergeordnetem Element*/
    top: 100%; /*Abstand zum übergeordneten Element*/
    background-color: var(--header-background-color);
    border: 1px solid var(--text-color);
    padding: 10px;
    list-style: none; /*keine Bullets*/
    z-index: var(--z-index-popover); /*sorgt dafür, dass alle Elemente des Dropdowns des Headers über anderen Inhalten angezeigt werden (Z-Achse)*/
    flex-direction: column;
    box-shadow: 1px 1px 1px var(--text-color); /*Schatten nach unten und rechts mit Blur*/
}


header nav ul li:hover ul {
    display: flex; /*Wenn Accesoire oder Kleidung gehovert wird, wird das Dropdown angezeigt*/
}


/** Main content */


main {
    padding: calc(var(--header-height) + 16px) 0; /*Setzt einen Abstand zwischen Main-Inhalten und Header, damit Elemente nicht hinter Header verschwinden */
    flex: 1; /*Kurzversion für flex-grow - Elemente in main sollen so viel Platz einnehmen, dass Footer ganz unten angezeigt wird und nicht mitten im Bild*/
}

/*Style für Index-Seite mit Banner*/
main.banner-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: var(--header-height) 0;
}

/*für breiteren Content im main Tag (e.g. ShirtList*/
main.content-wide {
    width: 80%;
}

/*Prüft, ob Screen die Regel in Klammern einhält. Wenn ja, wird Content auf 90 Prozent Breite gesetzt - sinnvoll bei kleineren Bildschirmen (Laptop od. alte Monitore)*/
@media screen and (max-width: 1550px) {
    main.content-wide {
        width: 90%;
    }
}

/** Footer */
footer {
    width: 90%; /*für Padding wichtig, damit insg. 100 Prozent*/
    bottom: 0;
    height: var(--footer-height);
    background-color: var(--footer-background-color);
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%; /*rechts und links je 5 %*/
    margin: 0 auto;
}

/** Komponenten */

/** Link */

a {
    text-decoration: none;
    color: var(--text-color);
}

/*Animationsverhalten bei Hover des Links mit Maus*/
@keyframes link-hover {
    to {
        background-color: var(--text-color);
        color: var(--primary-background-color)
    }
}
/*Setzen der Animation beim Hover*/
a:hover {
    animation-name: link-hover;
    animation-duration: .3s;
    animation-fill-mode: forwards; /*nach Animation bleibt der Stand solang gehovert und geht nicht autom. in Ursprungszustand*/
}

/*keine Hover-Animation bei Logo*/
.logo-link:hover {
    animation: none;
}

/** Buttons */

/*Normaler Button*/
.btn {
    color: var(--primary-background-color);
    background-color: var(--text-color);
    border-radius: 0; /*um Browser-abhängige border-radius zu überschreiben*/
    border: none; /*um Border zu entfernen*/
    padding: 18px 36px;
    font-size: var(--button-font-size);
    cursor: pointer; /*bei Hover wird Cursor zum Klicken angezeigt*/
    position: relative; /*wichtig für Button-Hover-Animation, dass nicht ganzer Bildschirm gefüllt wird*/
    overflow: hidden; /*Animation spielt sich nur in Button ab*/
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0; /*auf 0, damit ::before -1 sein kann */
}

.btn::before { /*erstellt Pseudo-Element für Animation über Button*/
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--button-hover-color);
    z-index: -1; /*liegt hinter Schrift des Buttons*/
    transition: width 0.3s ease-in; /*legt fest, wie Animation verlaufen soll (Dauer)*/
}

/*Pseudo-Element wird 100% breit, wenn Button gehovert*/
.btn:hover::before {
    width: 100%;
}

/*kleiner Button (button-small)*/
.btn.btn-sm {
    padding: 9px 19px;
}

/*Sekundärer Button mit anderem Aussehen (e.g. itemid.html --> direkt bestellen (primär) und Warenkorb hinzufügen (sekundär))*/
.btn.secondary {
    background-color: unset;
    color: var(--text-color);
    border: 1px solid var(--text-color);
}

.btn.secondary:hover {
    color: var(--primary-background-color);
}

.btn.danger {
    background-color: var(--danger-color);
}

/*Button mit SVG - wird an Font-Size angepasst*/
.btn svg {
    width: var(--button-font-size);
    height: var(--button-font-size);
}

/*Zurück-Button*/
.back-btn {
    align-self: flex-start; /*immer links angeordnet*/
    display: flex;
    align-items: center;
    gap: 8px; /*Abstand zu anderen Elementen*/
    width: fit-content; /*Button nur so breit wie Inhalt*/
}

/*Zurückpfeil*/
.back-btn svg {
    height: 32px;
}

/*Zurücktext*/
.back-btn span {
    display: none;
    font-size: 1.15em;
    padding-right: 5px;
}

/*wenn Button gehovert wird, wird Span angezeigt*/
.back-btn:hover span {
    display: block;
}

/** Cards */

.card {
    border: 1px solid var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    height: 100%;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.62);
    background-color: var(--card-background-color);
}


.card:hover {
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.62);
}

.card img {
    height: 250px;
}

.card * {
    text-align: center;
}

.card h2 {
    text-wrap: wrap; /*Zeilenumbruch, wenn Inhalt > 200px*/
    width: 200px;
}
.card h2, h4 {
    margin: 0;
}

.card.no-hover:hover {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.62); /*Box-Shadow bleibt gleich*/
}

.card.justify-start { /*Optionskarte: Inhalte werden links angeordnet*/
    justify-content: flex-start;
}

/** Checkbox */

/*Label für Checkbox-Input*/
label:has(input[type="checkbox"]) {  /*ist im Label-Tag ein Input mit Checkbox-Type?*/
    display: flex;
    align-items: center;
    gap: 4px;
}

input[type="checkbox"] { /*setzt eine Regel, die für allle Inputs vom Typ Checkbox Standardmaße setzt*/
    width: 24px;
    height: 24px;
}


input[type="checkbox"]:checked { /*Wenn angeklickt, dann Farbe*/
    accent-color: var(--accent-color);
}

input[type="checkbox"]:focus { /*keine Outline wenn fokussiert*/
    outline: none !important;
}

/** Radio buttons */
/*Style für Label, das einen Input von Typ Radio beinhaltet (e.g. Detailseite Größen- und Farbauswahl)*/
label:has(input[type="radio"]) {
    display: inline-flex;
    align-items: center;
    background: none;
    border: 1px solid var(--text-color);
    cursor: pointer;
    padding: 4px 8px;
    transition: ease-in .3s;
}

label:has(input[type="radio"]):hover {
    background-color:  var(--text-color);
    color: var(--primary-background-color);
}


input[type="radio"] {
    display: none; /*Button selbst wird nicht angezeigt, aber da Button in Label wird bei Klick auf Label auch immer Button geklickt*/
}

/*Style des Labels wenn Button gecheckt*/
label:has(input[type="radio"]:checked) {
    background-color: var(--text-color);
    color: var(--primary-background-color);
}

/** Range select */

input[type="range"] {
    accent-color: var(--accent-color); /*Sliderfarbe*/
}

input[type="range"]:focus {
    outline: none; /*keine Outline bei Slider*/
}

/** Inputs */

input {
    padding: 10px;
    font-size: 14px;
    border-radius: 0;
    border: 1px solid var(--text-color);
    width: 100%;
    text-align: left !important; /*Standardwert*/
    box-sizing: border-box;
}

input[type="text"]:focus {
    outline: 2px solid var(--accent-color);
}

input[type="text"]:hover {
    outline: 2px solid var(--accent-color);
}

/* Quantity input */

.quantity-container {
    display: inline-flex;
    align-items: center;
    border: 1px solid var(--text-color);
    border-radius: 0;
    overflow: hidden;
    width: fit-content;
    background: var(--primary-background-color);
}

.quantity-container:focus {
    outline: 2px solid var(--accent-color);
}

.quantity-btn {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    user-select: none;
}

.quantity-btn:focus {
    outline: none;
}

.quantity-container input[type="number"] {
    text-align: center !important;
    border: none;
    font-size: 1rem;
    padding: 10px 0;
    width: 50px;
    -moz-appearance: textfield; /*damit Standardpfeile von Firefox ausgeblendet werden*/
    background-color: var(--primary-background-color);
}

.quantity-container input[type="number"]:focus {
    outline: none;
}

/* Table */

table { /*Tabellendesign generell*/
    border: 1px solid var(--text-color);
    outline: none;
}
table th, td { /*einzelne Zellen haben immer rechts und unten Border */
    padding: 10px;
    border-bottom: 1px solid var(--text-color);
    border-right: 1px solid var(--text-color);
}
table th:last-child, td:last-child { /*letzte Zellen einer Reihe haben keine Border*/
    border-right: none;
}
table tr:last-child td { /*jede Zelle der letzten Zeile hat unten keine Border*/
    border-bottom: none;
}

/** Formulare */

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    width: 100%;
}

.form-box {
    width: 30vw;
    border: 1px solid var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    height: 100%;
    box-shadow: 1px 1px 1px var(--form-box-shadow-color);
    background-color: var(--card-background-color);
}

.form-input {
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 100%;
}

/* Outline des Inputs färben, falls Benutzername/Passwort korrekt sind, aber nur beim focus (Wenn das Feld ausgewählt ist) */
.form-input-success:focus {
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 100%;
    outline: 2px solid var(--success-color) !important;
}

/* Outline des Inputs färben, falls Benutzername/Passwort falsch sind,  aber nur beim focus (Wenn das Feld ausgewählt ist) */
.form-input-error:focus {
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 100%;
    outline: 2px solid var(--danger-color) !important;
}

.form-input label.checkbox {
    display: flex;
    align-items: center;
    gap: 10px;
}

.form-input input[type="checkbox"] {
    width: 30px;
    height: 30px;
}

/** Banner Index */

.banner {
    position: relative; /*damit sich Banner an Bildschirm-Breite anpasst*/
}

.banner-image {
    width: 100%;
    height: 100%;
}

/** Layout */

.stack { /*Stapel mit Gap dazwischen (e.g. Abstandshalter für Warenkorb) */
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.button-row { /*Reihe für Buttons*/
    display: flex;
    gap: 20px;
    align-self: flex-start;
}

/*Setzt den Style für die beiden Buttons "Login" und "Warenkorb" im Header*/
.button-row-center {
    display: flex;
    gap: 1em;
}

.flex-align-left {
    display: flex;
    align-items: flex-start;
}

.flex-row {
    display: flex;
    flex-direction: row;
    gap: 8px;
    flex-wrap: wrap;
}

.grid-4-col {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    gap: 1rem;
    row-gap: 2rem;
    align-items: stretch;
    width: fit-content;
}

.grid-20-80 {
    display: grid;
    grid-template-columns: 20% 80%;
    gap: 2rem;
}

.grid-50-50 {
    display: grid;
    grid-template-columns: 50% 50%;
    place-items: center;
}

.align-start {
    align-self: flex-start;
    text-align: left;
}

.gap-3 {
    gap: 12px;
}

/** ID spezifische Dinge */

/**Zentriert auf der login-Seite die beiden Links für "Passwort zurücksetzen" und "Jetzt registrieren"*/
#resetAndRegister {
    text-align: center;
}
/*Author: Lasse Hoffmann, Mathis Burger, Lennart Moog*/